<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!-- 下划线转驼峰式 -->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <!-- 别名拓展（批量指定很简单，只要指定包名即可）：其定义别名的规范就是对应包装类的类名首字母变为小写 -->
    <typeAliases>
        <package name="com.borun.billbook.bean"/>
    </typeAliases>
    <!--注册分页插件 -->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>
</configuration>